@font-face
  font-family: 'Nunito'
  src: url('@/assets/fonts/Nunito-VariableFont_wght.woff2') format('woff2-variations')
  font-weight: 100 900
  font-stretch: 75% 125%
  font-style: normal

.no-link
  text-decoration: none
  color: inherit
